$color-primary: #014f86;
$background-color: #E5E7EB;
$background-color-alt: #f4f6fa;

$color-white: #FFFFFF;
$color-gray-light: #B4B7BD;

$color-black: #1d1d1d;

$font-family: 'Lato', sans-serif;
$font-color: #333;

$default-border-radius: 6px;