//$color-primary: #04c2c9;
$color-primary: #014f86;
$background-color: #E5E7EB;

$color-white: #FFFFFF;
$color-gray: #666;
$color-gray-light: #b9b9b9;
$color-gray-dark: #2d3240;
$color-black: #1d1d1d;

$font-family: 'Lato', sans-serif;
$font-color: #333;

$gray-1: #B4B7BD;